<h2><%= link_to 'Help', url_for(action: 'index') %> &gt; Etiquette</h2>

<p>Elite Command is a war game, and any warlord vying for total victory must pull out all the stops and show no mercy.</p>

<p>That said, Elite Command is also a game, and as such, the main goal is to have fun. Practicing basic good sportsmanship helps ensure that everyone has fun, win or lose. There are also some specific features to Elite Command which can and should be used with discretion; there are good and bad uses of these features which reflect upon your sportsmanship (or lack thereof). Below are some tips on the etiquette surrounding these features. Abide by them, and you will maintain the reputation of a good competitor and model citizen of the Elite Command community.</p>

<ul>
  <li><p><strong>Help out the newbies.</strong> Elite Command is more complicated than most browser-based games. If you find yourself in a match with a less experienced player, you can do a lot to improve their first impressions of the game and keep them playing. Use the chat channel to make them feel welcome and tutor them with tips on their gameplay.</p></li>
  <li><p><strong>Keep it clean.</strong> Unless you know your opponents personally, avoid using vulgar language. Players of Elite Command come from all ages and backgrounds. This applies not only to the chat channels, but also to the forums and the titles of your games. On a related note, don't type in all caps all the time; that's just annoying.</p></li>
  <li><p><strong>Report bugs.</strong> Bugs are inevitable. If you find one, especially a bug which can be exploited to gain an unfair advantage, do not hesitate to report it! The creator of Elite Command, "dris", checks the forums regularly. You can also send him a private message.</p></li>
  <li><p><strong>Don't skip players indiscriminately.</strong> This also applies to "Force Surrender". If a player doesn't complete their turn on time, send them a reminder at least once or twice before you skip them. If the player is active in the community and not known for abandoning games outright, you should give them even more time. Skipping a players puts them at a big disadvantage, and any victory obtained by skipping or forcing surrender is felt as empty.</p></li>
  <li><p><strong>Don't leave other players waiting.</strong> Related to the above, but in reverse. Don't make other players wait on you to take your turn. Always try to take your turn within the game's time limit. Sometimes it's impossible to avoid delaying your turn due to real life. If you know ahead of time that you'll be gone for a while, let the players in your games know, along with when you expect to return. This can go a long ways toward inspiring the patience of your opponents and avoiding being skipped.</p></li>
  <li><p><strong>Play with your friends.</strong> Elite Command is a very niche game, and finding new players isn't easy. You can help us out a lot by inviting your friends to play with you, especially those whom you know to be fans of strategy games. Help Elite Command grow and spread the word!</p></li>
</ul>

<p><%= link_to '&larr; Back to Help index'.html_safe, url_for(action: 'index') %></p>
