<h2>Reset Password</h2>

<p>Enter the email address used with your account, and we'll reset your password and send it to you. If the email doesn't arrive, be sure to check your spam folder.</p>

<% form_tag url_for(action: 'reset_password'), method: 'post' do %>
  <table>
    <tr>
      <th><%= label_tag :email, 'Email:' %></th>
      <td><%= text_field_tag :email %></td>
      <td><%= submit_tag 'Reset Password', class: 'main' %></td>
    </tr>
  </table>
<% end %>
