<h2>Help Elite Command Thrive</h2>

<div style="width: 320px; float: right;">
  <div style="background: white; padding: 10px; line-height: 0;">
    <%= image_tag '/images/paco.jpg' %>
  </div>

  <p>
    Paco, the pit bull terrier responsible for Elite Command.
  </p>
</div>

<div style="margin-right: 340px;">
  <p>
    Elite Command is developed and operated by one guy and his dog. A work
    of passion, Elite Command brings the fun of turn-based strategy to
    a community of enthusiasts who make the game possible.
  </p>

  <p>
    Unfortunately, keeping Elite Command running is not cheap. The server,
    which supports the database, real-time updates, a simple AI bot, map
    preview image generation, achievement updates, and the game application
    itself, costs about $150 per month. There are small additional expenses
    around bandwidth and storage space, but these are pretty negligible.
    Finally, supporting the community and building the game, including the
    development of new features, takes a considerable commitment of
    personal time.
  </p>

  <p>
    In an attempt to recoup some of the expenses, I have added some ads to
    the site. I may experiment with different services or try to get the
    game listed in a good second-market for ad space, but on the whole,
    advertising alone is highly unlikely to help the game break even.
  </p>

  <p>
    In order to help support for the site, Commanders may opt to donate
    any amount they'd like, starting at $1. In return for the donation,
    ads will be disabled for one month. Additionally, your username will
    be displayed in gold throughout the site forever.
  </p>

  <h3>Pay what you want!</h3>

  <p>
    If Elite Command provides an outlet for your predilection for
    tactical warfare, a tip is greatly appreciated and very helpful.
    More than anything, I want Elite Command to thrive.
  </p>

  <p><%= paypal_donate_button(current_user) %></p>
</div>
