<h2>Thank You!</h2>

<div style="width: 320px; float: right;">
  <div style="background: white; padding: 10px; line-height: 0;">
    <%= image_tag '/images/paco_thanks.jpg' %>
  </div>

  <p>
    Paco says thanks for the bone!
  </p>
</div>

<div style="margin-right: 340px;">
  <p>
    We thank you for your support! Commanders such as yourself make it
    possible for the fun to continue. We wish you luck in your future
    conquests!
  </p>

  <p>
    You should have access to the map editor and an ad-free experience
    soon. If this doesn't happen within the hour, please
    <script type="text/javascript" language="javascript">
      <!--
      // Email obfuscator script 2.1 by Tim Williams, University of Arizona
      // Random encryption key feature by Andrew Moulden, Site Engineering Ltd
      // This code is freeware provided these four comment lines remain intact
      // A wizard to generate this code is at http://www.jottings.com/obfuscator/
      { coded = "s.N.Z5fsJfA@a2F5t.sM2"
        key = "RyNqoaZ620E9YeKil1nwbHhVWMF7Q8CIcSJx5tpfXTUjL4gvrmd3PsBkuzADGO"
        shift=coded.length
        link=""
        for (i=0; i<coded.length; i++) {
          if (key.indexOf(coded.charAt(i))==-1) {
            ltr = coded.charAt(i)
            link += (ltr)
          }
          else {     
            ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
            link += (key.charAt(ltr))
          }
        }
        document.write("<a href='mailto:"+link+"?subject=Donation%20issue'>email me directly</a>")
      }
      //-->
    </script>
    and I will fix you up as soon as possible.
  </p>
</div>

<div class="clear"></div>

